body{
  margin: 0;
}

section{
  height: 100vh;
}

.inicio{
  background-color: gray;
  position: relative;
}

.banner ul {
    list-style-type: none;
    margin: 0;
    padding: 1%;
    overflow: hidden;
    background-color: black;
    text-align: center;
}

.banner li {
  width: auto;
  display: inline-block;
  text-transform: uppercase;
}

li a, .dropbtn {
    display: inline-block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: black;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {

    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    text-transform: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.contenido-inicio{
  text-align: center;
  padding: 10%;
  position: absolute;
  top: 20%;
  width: 80%;
}
.contenido-inicio h1{
  color: white;
  font-size: 50px;
}
.productos{
  background-color: white;
  position: relative;
}
.titulo-productos{
  position: absolute;
  left: 5%;
  width: 90%;
  top: 0;
  margin: 1vh;
}
.titulo-productos h1{
  font-size: 7vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-transform: uppercase;
}
.titulo-productos h4{
  font-size: 3vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-left: 3%;
}

.contenido-productos{
  margin: 1%;
  border: 1px solid green;
  height: 82vh;
  width: 98%;
  position: absolute;
  top: 14vh;
}
.producto-1{
  width: 49%;
  border: 1px solid red;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0;

}
.producto-2{
  width: 49%;
  border: 1px solid red;
  height: 100%;
  display: inline-block;
  right: 0;
  position: absolute;
  right: 0;
}
.soluciones{
  background-color: white;
  position: relative;
}
.titulo-soluciones{
  position: absolute;
  left: 5%;
  width: 90%;
  top: 0;
  margin: 1vh;
}
.titulo-soluciones h1{
  font-size: 7vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-transform: uppercase;
}
.titulo-soluciones h4{
  font-size: 3vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-left: 3%;
}

.contenido-soluciones{
  margin: 1%;
  border: 1px solid green;
  height: 82vh;
  width: 98%;
  position: absolute;
  top: 14vh;
}
.solucion-1{
  width: 74%;
  border: 1px solid red;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0;

}
.solucion-2{
  width: 24%;
  border: 1px solid red;
  height: 100%;
  display: inline-block;
  right: 0;
  position: absolute;
  right: 0;
  background-color: green;
}
.formulario
{
  position: absolute;
  top: 25%;
  margin: 5%;
  color: white;

}
.formulario h2{
  font-size: 2.8vh;
  text-transform: uppercase;
  margin: 0.5vh;
  margin-left: 10%;
}
.formulario h1{
  font-size: 3vh;
  text-transform: uppercase;
  margin: 0.5vh;
  margin-left: 10%;
}
.formulario input{
  width: 75%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  background-color: green;
  border: 1px solid white;
  color: white;


}

.cuadro-arriba{
  position: absolute;
  top: 0;
  margin-left: 5%;
  margin-top: 5%;
  width: 60px;
  height: 60px;
  border-top: 1px solid white;
  border-left: 1px solid white;
}
.cuadro-abajo{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 60px;
  height: 60px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    white;
}
.formulario button{
  width: 81%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: white;
  color: green;
  font-size: 1.8vh;
  text-transform: uppercase;
  border: none;
}
.video{
  background-color: black;
}

.footer{
  height: 35vh;
  background-color: white;
}
