body{
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}
.inicio{
  height: 100vh;
  position: relative;
}
.titulo-inicio{
  width: 100%;
  height: 12vh;
  position: relative;
  background-color: #36783b;
}
.home-inicio{
  position: absolute;
  top: 0;
  left: 0;
  width: 12vh;
  height: 12vh;
  background-color: #08280b;
  text-align: center;
}
.home-inicio img{
  height: 12vh;
  object-fit: cover;
}
.texto-inicio{
  text-align: left;
  padding-right: 5%;
  padding-left: 5%;
  height: 12vh;
  position: absolute;
  width: 20%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.texto-inicio h1{
  font-size: 4vh;
  color: white;
}
.imagen-contenido{
  position: relative;
  width: 100%;
  height: 88vh;
}
.imagen-contenido img{
  width: 100%;
  height: 88vh;
  object-fit: cover;
}
.flotante-inicio{
  width: 45%;
  position: absolute;
  height: 30vh;
  background-color: rgba(54, 120, 59, 0.7);
  right: 10%;
  border-radius: 32px;
}
.flotante-inicio h1{
  padding-left: 7%;
  font-size: 3.5vh;
  color: white;
}
.flotante-inicio p{
  padding-left: 10%;
  padding-right: 10%;
  color: white;
  font-size: 2.5vh;
  text-align: justify;
}
.flo1{
  top: 10vh;
}
.flo2{
  bottom: 10vh;
}

.seccion-segunda{
  height: 150vh;
  width: 100%;
  position: relative;
}
.imagen-segunda{
  width: 100%;
  position: absolute;
  height: 150vh;
  right: 0;
  z-index: 2;
}
.imagen-segunda img{
  width: 100%;
  height: 150vh;
  object-fit: cover;
}
.contenido-segunda{
  padding: 6vh 4% 1vh 4%;
  width: 42%;
  height: 143vh;
  position: absolute;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}
.contenido-segunda h4{
  margin-top: 0;
  margin-bottom: 5vh;
  font-size: 2.3vh;
  text-align: justify;
}
.contenido-segunda h5{
  margin-top: 2vh;
  margin-bottom: 4vh;
  font-size: 2.1vh;
  text-align: justify;
  padding-left: 2%;
}
.contenido-segunda p{
  margin-top: 3vh;
  font-size: 2.1vh;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}
