body{
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}
section{
  height: 100vh;
  position: relative;
}
.titulo-seccion{
  width: 100%;
  height: 12vh;
  background-color:darkgreen;
}
.home{
  height: 12vh;
  width: 12vh;
  position: absolute;
  left: 0;
  border: 2px solid red;
}
.texto{
  text-align: left;
  padding-right: 5%;
  padding-left: 5%;
  border: 2px solid red;
  height: 12vh;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.texto h1{
  font-size: 4vh;
  color: white;
}

.imagen-seccion{
  height: 88vh;
  width: 100%;
  position: relative;
}
.contenido-seccion{
  width: 50%;
  height: 88vh;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
}
.texto-seccion{
  padding: 20%;
  color: white;
}
.texto-seccion h5{
  font-size: 2.8vh;
  font-weight: 600;
  border-left: 4px solid white;
  padding-left: 8%;
}
.texto-seccion span{
  display: block;
  font-size: 2.6vh;
  padding-left: 8%;
}
